<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Vortex - Responsive HTML5 Portfolio</title>
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/images/favicon.png">
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
	
	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/ionicons.min.css" rel="stylesheet">
	<link href="assets/css/simpletextrotator.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/superslides.css" rel="stylesheet">
	<link href="assets/css/vertical.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">
	
	<!-- Template core CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<!-- OVERLAY MENU -->
	<div id="overlay-menu" class="overlay-menu">

		<a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>
		
		<div class="overlay-menu-inner">
			<nav class="overlay-menu-nav">
		
				<ul id="nav">
		
					<li class="slidedown">
						<a href="#">Home</a>
						<ul>
							<li><a href="index.html">Light header</a></li>
							<li><a href="index-2.html">Dark header</a></li>
							<li><a href="index-3.html">Film overlay</a></li>
							<li><a href="index-4.html">Image Slider</a></li>
							<li><a href="index-5.html">Youtube Video</a></li>
							<li><a href="index-6.html">Text rotator</a></li>
							<li><a href="index-7.html">Agency</a></li>
						</ul>
					</li>
		
					<li><a href="about.html">About</a></li>
		
					<li class="slidedown">
						<a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio-single-1.html">Single 1 - standartd</a></li>
							<li><a href="portfolio-single-2.html">Single 2 - gallery</a></li>
							<li><a href="portfolio-single-3.html">Single 3 - full height</a></li>
							<li><a href="portfolio-single-4.html">Single 4 - Slider</a></li>
							<li><a href="portfolio-single-5.html">Single 5 - Youtube header</a></li>
							<li><a href="portfolio-single-6.html">Single 6 with slider</a></li>
							<li><a href="portfolio-single-7.html">Single 7 with Youtube</a></li>
							<li><a href="portfolio-single-8.html">Single 8 with Vimeo</a></li>
						</ul>
					</li>
		
					<li class="slidedown">
						<a href="#">News</a>
						<ul>
							<li><a href="blog-grid.html">3 column grid</a></li>
							<li><a href="blog-grid-2.html">2 column grid</a></li>
							<li><a href="blog-masonry.html">Blog Masonry</a></li>
							<li><a href="blog-single.html">Single post</a></li>
						</ul>
					</li>
		
					<li class="slidedown">
						<a href="#">Features</a>
						<ul>
							<li><a href="components-1.html">Buttons, Content box, Progress bars</a></li>
							<li><a href="components-2.html">Tab & Accordian</a></li>
							<li><a href="components-3.html">Pricing tables</a></li>
							<li><a href="components-4.html">Typography & Columns</a></li>
							<li><a href="components-5.html">Modules & Overlays</a></li>
						</ul>
					</li>
		
					<li><a href="contact.html">Contact</a></li>
		
				</ul>
		
			</nav>
		</div>
		
		<div class="overlay-navigation-footer">
		
			<div class="container">
		
				<div class="row">
		
					<div class="col-sm-12 text-center">
						<p class="copyright font-alt m-b-0">© 2015 Vortex, All Rights Reserved.</p>
					</div>
		
				</div>
		
			</div>
		
		</div>

	</div>
	<!-- /OVERLAY MENU -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- NAVIGATION -->
		<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

			<div class="container">
			
				<div class="navbar-header">
					<!-- YOU LOGO HERE -->
					<a class="navbar-brand" href="index.html">
						<!-- IMAGE OR SIMPLE TEXT -->
						<img src="assets/images/logo-dark.png" width="95" alt="">
					</a>
				</div>
			
				<!-- ICONS NAVBAR -->
				<ul id="icons-navbar" class="nav navbar-nav navbar-right">
					<li>
						<a href="#" id="toggle-menu" class="show-overlay" title="Menu">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					</li>
				</ul>
				<!-- /ICONS NAVBAR -->
			
				<ul class="extra-navbar nav navbar-nav navbar-right">
					<li><a href="index.html" title="Home">Home</a></li>
					<li><a href="about.html" title="About">About</a></li>
					<li><a href="contact.html" title="Contact">Contact</a></li>
				</ul>
			
			</div>

		</nav>
		<!-- /NAVIGATION -->

		<!-- HERO -->
		<section class="module module-parallax  bg-dark" data-background="http://local.opencms/image/cache/catalog/default/about_ush-1920x1280.jpg">

			<!-- HERO TEXT -->
			<div class="container">

				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="mh-line-size-3 font-alt m-b-20">About us</h1>
					</div>
				</div>

			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

	<!-- ABOUT -->
		<section class="module">

			<div class="container">

				<div class="row">

					<!-- ABOUT STUDIO  -->
					<div class="col-sm-4">

						<h4 class="font-alt m-t-0 m-b-20">О&nbsp;нашем портале</h4>




						<p>Если Вы&nbsp;не&nbsp;знаете, где и&nbsp;с&nbsp;кем поиграть в&nbsp;футбол в&nbsp;Москве, то&nbsp;портал любительского футбола footbic.ru ответит на&nbsp;эти вопросы. Footbic&nbsp;— это аббревиатура названия любительской футбольной лиги «Bicicletta football» (порт. bicicleta&nbsp;— «удар ножницами»). </p>




						<p><a href="#testimonials" class="section-scroll">Отзывы →</a></p>



	

					</div>




					<!-- /ABOUT STUDIO  -->

					<!-- WHAT WE DO -->
					<div class="col-sm-4">

						<h4 class="font-alt m-t-0 m-b-20">Что мы&nbsp;делаем</h4>




						<p>Мы&nbsp;сотрудничаем с&nbsp;лучшими футбольными полями Москвы, на&nbsp;которых проводим регулярные любительские игры и&nbsp;любительские турниры различного масштаба.Footbic.ru&nbsp;— это Ваш шанс заявить о&nbsp;себе на&nbsp;уровне любительского футбола, быстрый способ найти себе команду, присоединиться к&nbsp;многочисленным участникам футбольных соревнований, получить незабываемые эмоции от&nbsp;игры.</p>




						<p><a href="#services" class="section-scroll">Наши услуги →</a></p>





					</div>




					<!-- /WHAT WE DO -->

					<!-- SKILLS -->
					<div class="col-sm-4">

						<h6 class="progress-title font-alt">Качество полей</h6>




						<div class="progress">
							<div class="progress-bar " aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="font-alt">80%</span>
							</div>




						</div>





						<h6 class="progress-title font-alt">Организация</h6>




						<div class="progress">
							<div class="progress-bar " aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="font-alt">90%</span>
							</div>




						</div>





						<h6 class="progress-title font-alt">Уровень угры</h6>




						<div class="progress">
							<div class="progress-bar " aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="font-alt">70%</span>
							</div>




						</div>





						<h6 class="progress-title font-alt">Атмосфера</h6>




						<div class="progress">
							<div class="progress-bar " aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="font-alt">95%</span>
							</div>




						</div>





					</div>




					<!-- /SKILLS -->

				</div>





			</div>





		</section>
		<!-- /ABOUT -->

		<!-- COUNTERS -->
		<section class="module module-video bg-dark" data-background="http://local.opencms/image/cache/catalog/default/about_ush-1920x1280.jpg">

			<div class="container">

				<div class="row">

					<!-- COUNTER -->
					<div class="col-sm-3 m-b-md-20">
						<div class="counter-item">
							<div class="counter-title font-alt">
								<h5 class="font-alt counter-number" data-number="270"><span></span></h5>




								Количество игр
							</div>




						</div>




					</div>




					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-sm-3 m-b-md-20">
						<div class="counter-item">
							<div class="counter-title font-alt">
								<h5 class="font-alt counter-number" data-number="3.4"><span></span>К</h5>




								Забитых голов
							</div>




						</div>




					</div>




					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-sm-3 m-b-md-20">
						<div class="counter-item">
							<div class="counter-title font-alt">
								<h5 class="font-alt counter-number" data-number="220"><span></span></h5>




								Всего футболистов
							</div>




						</div>




					</div>




					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-sm-3 m-b-md-20">
						<div class="counter-item">
							<div class="counter-title font-alt">
								<h5 class="counter-number" data-number="98"><span></span>%</h5>




								Довольных игроков
							</div>




						</div>




					</div>




					<!-- /COUNTER -->

				</div>





			</div>





			<!-- YOUTUBE VIDEO-->
			<div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=0pXYp72dwl0', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}"></div>




			<!-- /YOUTUBE VIDEO-->

		</section>
		<!-- /COUNTERS -->

		<!-- SERVICES -->
		<section id="services" class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Услуги</h2>




					</div>




				</div>




				<!-- /MODULE TITLE -->

				<div class="row multi-columns-row">

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-ios-timer"></i>
							</div>




							<h5 class="content-box-title font-alt">Регулярные игры</h5>




							<div class="content-box-text">
								6 раз в неделю, в удобное время, мы проводим регулярные футбольные игры и тренировки разных форматов: 5Х5; 6Х6; 8Х8. Записаться на игры могут как отдельные игроки, так и команды.
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-trophy"></i>
							</div>




							<h5 class="content-box-title font-alt">Турниры</h5>




							<div class="content-box-text">
								Организация интереснейших футбольных турниров разного масштаба: от небольших однодневных до крупных сезонных мероприятий.
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-ios-football"></i>
							</div>




							<h5 class="content-box-title font-alt">Футбольные поля</h5>




							<div class="content-box-text">
								Мы предлагаем лучшие футбольные поля и футзалы Москвы. Удачное расположение, идеальное качество покрытий, наличие душевых и раздевалок - неотъемлемая часть всех площадок.
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-ios-star-half"></i>
							</div>




							<h5 class="content-box-title font-alt">Подробная статистика</h5>




							<div class="content-box-text">
								Для всех футболистов footbic.ru доступна интерактивная статистика результативности. Мы ведем подробную статистику регулярных игр любительской футбольной лиги и разнообразных турниров. 
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-ios-film-outline"></i>
							</div>




							<h5 class="content-box-title font-alt">Медиа</h5>




							<div class="content-box-text">
								Динамичные HD-видеоотчеты, красочные фотоотчеты в любую погоду и время года.
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="content-box">
							<div class="content-box-icon">
								<i class="ion-ios-people"></i>
							</div>




							<h5 class="content-box-title font-alt">Допольнительно</h5>




							<div class="content-box-text">
								Организация корпоративных лиг и турниров, проведение спортивных мероприятий, разработка комплектов футбольной формы.
							</div>




						</div>




					</div>




					<!-- /CONTENT BOX -->

				</div>





			</div>





		</section>
		<!-- /SERVICES -->
		<!-- STANDARD PARALLAX FILM -->
		<section class="module module-parallax" data-background="/image/catalog/default/about_us_end.jpg">

			

		</section>
		<!-- /STANDARD PARALLAX FILM -->
		<!-- TESTIMONIALS -->
		<section id="testimonials" class="module module-parallax bg-light-60">

			<div class="container">

				<div class="row">
					<div class="col-sm-12 text-center">
					<h2 class="module-title font-alt">Отзывы</h2>




					</div>




					<div class="col-sm-6 col-sm-offset-3">

						<!-- TESTIMONIALS CAROUSEL -->
						<div class="owl-carousel slider-testimonials text-center">

							<!-- SLIDE 1 -->
							<div class="item">
								<h5 class="module-icon m-b-20">
									<i class="ion-ios-chatboxes-outline"></i>
								</h5>




								<div class="font-serif m-b-20">
									Приезжали с другом в четверг на Киевскую побегать. Манеж просто отпад!! От метро рукой подать. Газон, освещение, раздевалки все на уровне. Поиграли отлично. По-любому приедем еще!.
								</div>




								<div class="quote-author font-alt">Дмитрий Николаев</div>




							</div>




							<!-- /SLIDE 1 -->

							<!-- SLIDE 2 -->
							<div class="item">
								<h5 class="module-icon m-b-20">
									<i class="ion-ios-chatboxes-outline"></i>
								</h5>




								<div class="font-serif m-b-20">
									Регулярно здесь играю. Организация игр на высоком уровне. Есть послематчевая статистика и видеоотчеты . Видно, что ребята постарались. Очень радует атмосфера на площадках. Так держать! Всем советую.
								</div>




								<div class="quote-author font-alt">Павел Игнатов</div>




							</div>




							<!-- /SLIDE 2 -->

							<!-- SLIDE 3 -->
							<div class="item">
								<h5 class="module-icon m-b-20">
									<i class="ion-ios-chatboxes-outline"></i>
								</h5>




								<div class="font-serif m-b-20">
									Мы с ребятами участвовали в турнире в Сокольниках. Площадка эта - высший класс и играть там можно хоть круглый год. Газон немного подстерся, но в целом отлично. Раздевалки, душевые-все как надо. Сам турнир прошел великолепно. В плане организации претензий нет. Заняли второе место. Ждем следующих турниров.
								</div>




								<div class="quote-author font-alt">Игорь Гагарин</div>




							</div>




							<!-- /SLIDE 3 -->

						</div>




						<!-- /TESTIMONIALS CAROUSEL -->

					</div>





				</div>





			</div>





		</section>
		<!-- /TESTIMONIALS -->

		<!-- TEAM -->
		<section id="team" class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Our Team</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="assets/images/team/team-1.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Martin Friman</h5>
								<div class="team-role font-serif">Programmer</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="assets/images/team/team-2.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Andy River</h5>
								<div class="team-role font-serif">Designer</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="assets/images/team/team-3.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">John Smith</h5>
								<div class="team-role font-serif">Art Director</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

					<!-- TEAM MEMBER -->
					<div class="col-sm-6 col-md-3 m-b-md-20">
						<div class="team-item">
							<div class="team-image">
								<img src="assets/images/team/team-4.jpg" alt="">
								<div class="team-detail text-center">
									<ul class="social-icon-links socicon-circle">
										<li><a href="#"><i class="ion-social-twitter"></i></a></li>
										<li><a href="#"><i class="ion-social-dribbble"></i></a></li>
										<li><a href="#"><i class="ion-social-octocat"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="team-descr">
								<h5 class="team-name font-alt">Adele Snow</h5>
								<div class="team-role font-serif">Account manager</div>
							</div>
						</div>
					</div>
					<!-- /TEAM MEMBER -->

				</div>

			</div>

		</section>
		<!-- /TEAM -->

		<hr class="divider"><!-- DIVIDER -->

		<!-- CLIENTS -->
		<section class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Recent Clients</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-1.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-2.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-3.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-4.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-5.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-6.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-7.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-8.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-9.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-10.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-11.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

					<!-- CLIENT LOGO -->
					<div class="col-sm-2 col-xs-6 client-item">
						<a href="#">
							<img src="assets/images/logos/logo-12.png" alt="">
						</a>
					</div>
					<!-- /CLIENT LOGO -->

				</div>

			</div>

		</section>
		<!-- /CLIENTS -->

		<!-- FOOTER -->
		<footer class="module bg-light">

			<div class="container">
			
				<div class="row">
			
					<div class="col-sm-12">
			
						<ul class="social-text-links font-alt text-center m-b-20">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Google plus</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Linkedin</a></li>
							<li><a href="#">Dribbble</a></li>
						</ul>
			
					</div>
			
				</div>
			
				<div class="row">
			
					<div class="col-sm-12">
			
						<p class="copyright text-center m-b-0">© 2015 <a href="#">Vortex</a>, All Rights Reserved.</p>
			
					</div>
			
				</div>
			
			</div>

		</footer>
		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->

	<!-- SCROLLTOP -->
	<div class="scroll-up">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>

	<!-- Javascript files -->
	<script src="assets/js/jquery-2.1.3.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.superslides.min.js"></script>
	<script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.simple-text-rotator.min.js"></script>
	<script src="assets/js/imagesloaded.pkgd.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/packery-mode.pkgd.min.js"></script>
	<script src="assets/js/appear.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/jqBootstrapValidation.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.parallax-1.1.3.js"></script>
	<script src="assets/js/smoothscroll.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="assets/js/gmaps.js"></script>
	<script src="assets/js/contact.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>